/* YOUR CUSTOM STYLES */
.navbar .dropdown-menu a:hover {
	color: #000 !important;
}
.navbar .dropdown-menu .dropdown-item.active {
	background-color: #DDD !important;
}
.text-justify {
	text-align: justify;
}
/* Разные кавычки для разных языков (тег <q>) */
body:lang(en) q { quotes: "\201C" "\201D" "\2018" "\2019"; }
body:lang(ua) q, body:lang(de) q { quotes: "\201E" "\201C"; }
body:lang(ru) q, body:lang(fr) q { quotes: "\00AB" "\00BB" "\201E" "\201C"; }

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.h6 {
	font-size: 1.1rem;
}

.report-number  {
	font-size: 1.05rem;
	font-weight: bold;
	font-style: italic;
}
.report-number a:hover {
	color: #3333ff;
}

.nav-pills .nav-item a {
	color: #888;
}

.nav-pills .nav-item a:hover {
	border-left: 1px solid;
	border-radius: 0;
}

.nav-pills .nav-item a.active {
	color: #45526E;
	border-left: 2px solid;
	box-shadow: none;
}

.nav-pills .nav-item a.active, 
.nav-pills .nav-item a.active:active, 
.nav-pills .nav-item a.active:focus, 
.nav-pills .nav-item a.active:hover{
	background-color: transparent;
	border-radius: 0;
	font-weight: bold;
}

.bordered-image {
	padding: 5px;
	border-width: 2px black;
	border-style: solid;
}

.thin-side-navigation {
	padding-top: 2px;
	padding-bottom: 2px;
}