/* YOUR CUSTOM STYLES */
.navbar .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .dropdown-menu .dropdown-item.active {
    background-color: #DDD !important;
}
.text-justify {
  text-align: justify;
}
/* Разные кавычки для разных языков (тег <q>) */
body:lang(en) q { quotes: "\201C" "\201D" "\2018" "\2019"; }
body:lang(ua) q, body:lang(de) q { quotes: "\201E" "\201C"; }
body:lang(ru) q, body:lang(fr) q { quotes: "\00AB" "\00BB" "\201E" "\201C"; }

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.h6 {
	font-size: 1.1rem;
}